.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
}

.siteTitle{
  font-family: 'Bangers', cursive;
}

.heroCard{
  height: 320px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.heroCard img{
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-header{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Bangers', cursive;
}

.modal-content {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
